<!DOCTYPE html>
<html>
	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
		<meta name="description" content="Site de E-Commerce avec Symfony 6">
		<meta name="keywords" content="E-Commerce">

		<title>
			{% block title %}Accueil
			{% endblock %}
			- Site E-commerce SF6
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<!-- Feuilles de styles -->
		<link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}"> {% block stylesheets %}{% endblock %}
		<link
		rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
		<!-- Fichiers javascript -->
		<script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}" defer></script>
		{% block javascripts %}{% endblock %}
		<script src="{{ asset('assets/js/scripts.js') }}" defer></script>
	</head>
	<body>
		{% include "_partials/_nav.html.twig" %}
		{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}
	</body>
</html>
